{%extends 'index_base.html' %}
{% load static %}
{% block body %}
     <h3 style="color:Yellow;" ><b>ABOUT US</b></h3>
     <h5 style="color:white;">“Exercise not only changes your body. It changes your mind, your attitude, and your mood.”</h5>
     <p style="color:white;">This gym has around 50 branches across the nation. In the beginning of the year 2020, it had 25, 000 members.Every registered member is provided with a diet and workout plan according to their respective fitness goals</p>
{% endblock %}
