{%extends 'index_base.html' %}
{% load static %}
{% block body %}
<html>
<head></head>
<body>
<h1>Login Here</h1>


<div class="container mt-2">

    <div class="row">
    
    <div class="col-md-3"> </div>
    
    <div class="col-md-6">

    
    
    <form action="/login" method="post">{% csrf_token %}
    
        <div class="form-group">
              <input type="text" class="form-control mb-2" name="usernumber" placeholder="Phone Number" minlength="10" maxlength="10" onkeypress="return isNumberKey(event,this)" id="numberInput" onblur="validateNumber()" required="required"  >
            </div>


   
    
    
    <div class="form-group">
    <input type="password" class="form-control mt-2" name="pass1" placeholder="Password" pattern="(?=.[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" autocomplete="off" required>
    </div>
    
   
    <br>

    
    <div class="d-grid gap-2">
      <button class="btn btn-light" type="submit">Login</button>
    
    </div>
    
    </form>
    <br><a href="/signup">New User?</a>
    
    
    </div>
    
    <div class="col-md-3"></div>
    
    </div>
    
    
    
    </div>

<script>
    function ValidateEmail(mail){
    	//  alert("You have entered an invalid email address!")
    	if (/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(mail.value)){
    		return (true);
    	}
    	alert("You have entered an invalid email address!");
    	return (false);
	}
	function phonenumber(inputtxt)
{
  var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
  if((inputtxt.value.match(phoneno))
        {
      return true;
        }
      else
        {
        alert("message");
        return false;
        }
}
	function successfull(inputtxt){
		//alert('here')
        	alert("Invalid phone Number");
        	return false;
        }
	}
</script>
<script language="Javascript" type="text/javascript">

function allowOnlyLetters(e, t)
{
   if (window.event)
   {
      var charCode = window.event.keyCode;
   }
   else if (e)
   {
      var charCode = e.which;
   }
   else { return true; }
   if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
       return true;
   else
   {
      alert("Please enter only alphabets");
      return false;
   }

}
function isNumberKey(evt, obj) {

            var charCode = (evt.which) ? evt.which : event.keyCode
            var value = obj.value;
            var dotcontains = value.indexOf(".") != -1;
            if (dotcontains)
                if (charCode == 46) return false;
            if (charCode == 46) return true;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
</script>




<script>
    function ValidateEmail(mail){
    	//  alert("You have entered an invalid email address!")
    	if (/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(mail.value)){
    		return (true);
    	}
    	alert("You have entered an invalid email address!");
    	return (false);
	}
	function phonenumber(inputtxt)
{
  var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
  if((inputtxt.value.match(phoneno))
        {
      return true;
        }
      else
        {
        alert("message");
        return false;
        }
}
	function successfull(inputtxt){
		//alert('here')
        	alert("Invalid phone Number");
        	return false;
        }
	}
</script>
<script language="Javascript" type="text/javascript">

function allowOnlyLetters(e, t)
{
   if (window.event)
   {
      var charCode = window.event.keyCode;
   }
   else if (e)
   {
      var charCode = e.which;
   }
   else { return true; }
   if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
       return true;
   else
   {
      alert("Please enter only alphabets");
      return false;
   }

}
function isNumberKey(evt, obj) {

            var charCode = (evt.which) ? evt.which : event.keyCode
            var value = obj.value;
            var dotcontains = value.indexOf(".") != -1;
            if (dotcontains)
                if (charCode == 46) return false;
            if (charCode == 46) return true;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
</script>
<script>
    function validateNumber() {
      var numberInput = document.getElementById("numberInput");
      var value = numberInput.value;

      if (value === "0000000000" || value === "1111111111" || value === "2222222222" || value === "3333333333" || value === "4444444444" || value === "5555555555" || value === "6666666666" || value === "7777777777" || value ==="8888888888" || value ==="9999999999")
      {
        alert("Please enter a valid phone number");
        numberInput.value = "";
        return false;
      }
    }
  </script>



</body>
</html>
{% endblock  %}